metanalizer-server/metanalizer-server-core/src/main/resources/schemas/ArquetipoSimple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="http://metanalizer.jsanz.com"
xmlns:entity="http://metanalizer.jsanz.com"
 targetNamespace="http://metanalizer.jsanz.com">
 	
	<xs:include schemaLocation="Formato.xsd" />
	
	<xs:complexType name="simplestArquetipo">
		<xs:sequence>
			<xs:element name="nombre" type="xs:string" />
			<xs:element name="formato" type="entity:format" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>