metanalizer-server/metanalizer-server-core/src/main/resources/schemas/ConsultaSimpleRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://metanalizer.jsanz.com" xmlns:entity="http://metanalizer.jsanz.com" targetNamespace="http://metanalizer.jsanz.com">

	<xs:include schemaLocation="Formato.xsd" />

	<xs:complexType name="ConsultaSimpleRequest">
		<xs:sequence>
			<xs:element name="formato" type="entity:format" />
			<xs:element name="fecha-inicio" type="xs:date" nillable="true" />
			<xs:element name="fecha-fin" type="xs:date" nillable="true" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>