metanalizer-server/metanalizer-server-core/src/main/resources/schemas/MetajuegoSimple.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="http://metanalizer.jsanz.com" 
targetNamespace="http://metanalizer.jsanz.com">
	<xs:include schemaLocation="ArquetipoSimple.xsd" />
	<xs:complexType name="simplestMetajuego">
		<xs:sequence>
			<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="key" minOccurs="0" type="simplestArquetipo" />
						<xs:element name="value" minOccurs="0" type="xs:long" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>