metanalizer-server/metanalizer-server-core/src/main/resources/schemas/Version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://metanalizer.jsanz.com/version" targetNamespace="http://metanalizer.jsanz.com/version" elementFormDefault="qualified">


		<xs:element name="VersionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codigoConsulta" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="VersionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>